/**
 * @file
 * Custom CSS for the GPC module.
 */

.gpc-banner {
  display: flex;
  padding: .5em;
  align-items: center;   /* Vertically centers the children (SVG and span) */
  justify-content: center; /* Horizontally centers the children within the paragraph */
  text-align: center;
  line-height: 1em;

  .lg-screen {
    display: none;
  }

  &.dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    a {
      color: #fff;
    }
  }
  &.light {
    background-color: rgba(255, 255, 255, 0.75);
    color: #000;
    a {
      color: #000;
    }
  }

  &.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  svg.icon.gpc-icon {
    margin-right: .75em; /* LTR */
    border-radius: 1em
  }
  [dir="rtl"] svg.icon.gpc-icon {
    margin-left: .75em;
    margin-right: 0;
  }

  svg.icon.gpc-disabled {
    color: yellow;
  }
  svg.icon.gpc-enabled {
    color: #cfde56;
  }

  span {
    line-height: 25px; /* match icon height */
  }
}

@media (min-width: 768px) {
  .gpc-banner .lg-screen {
    display: inline;
  }
}

html.admin-bar .gpc-banner.fixed-top {
  top: 36px;
}
